* {
      margin: 0;
      padding: 0;
      border: none;

      box-sizing: border-box;
}

body {
      font-size: 16px;
      background-color: white;
      color: black;
}

.hidden {
      display: none;
}

.wrapper {
      width: 45%;
      display: inline-block;
}

.wrapper img {
      width: 100%;
}

#nwebadge {
      width: 100px;
}

#new-badge #grey-s-text {transition: all 0.5s ease; transform-origin: 50%;}

#new-badge:hover #small-text {fill: white; }

#new-badge:hover #grey-s-text {transform: rotate(130deg)}

#new-badge:hover #bkg-shape {fill: rgb(255, 152, 61);}
